    h1{
    color:rgb(225,225,225);
    }
*{
    border:none;
}

.header{
    background-color: rgb(155, 178, 197);
    display:flex;
    justify-content: space-between;
}

.grid{
    background-color: rgb(15, 46, 71);
    display:flex;
    justify-content: space-evenly;
}

.footer{
    background-color: rgb(15, 46, 71);
    display:flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}

.item{
    background-color: rgb(65, 87, 105);
    display:flex;
    justify-content: center;
}